{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y margin-top-2" data-aos="fade-in">
    <div class="small-12 cell text-center">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
    <div class="small-12 cell">
      {{ entry.description }}
    </div>
  </div>
</div>

{% endblock %}