{% extends "_layouts/site" %}

{% set title = entry.title %}
{% set description = entry.description |striptags|slice(0, 120) %}

{% block main %}

{% include "_includes/blocks/events--types" %}

{% set afterThatEvents = craft.entries.section('events')
.eventEnd ("<= #{now | atom}"	)
.orderBy('eventStart asc')  
%}     

<div class="grid-container">
  {% for entry in afterThatEvents %}
    {% include "_includes/blocks/event" %}
  {% endfor %}
</div>

{% endblock %}