{% extends "_layouts/site" %}

{% block main %}

{% include "_includes/blocks/events--types" %}

{% set allEvents = craft.entries.section('events')
.orderBy('eventStart asc')
%}     

<div class="grid-container">
  {% for entry in allEvents %}
    {% include "_includes/blocks/event" %}
  {% endfor %}
</div>

{% endblock %}