{% extends "_layouts/site" %}

{% set title = entry.title %}
{% set description = entry.description %}

{% block main %}

{% include "_includes/blocks/events--types" %}

{% set nextMonthsEvents = craft.entries.section('events')
.eventStart (['and',  "> #{now | date_modify('last day of this month') | atom}", "<= #{now | date_modify('last day of next month') | atom}"])
.order('eventStart asc')
%}

<div class="grid-container">
  {% for entry in nextMonthsEvents %}
    {% include "_includes/blocks/event" %}
  {% endfor %}
</div>

{% endblock %}