{% extends "_layouts/site" %}

{% block main %}

<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell text-center">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>

  {% include "_includes/site/your-visit/menu" %}

  <div class="grid-x grid-padding-x align-center">
    <div class="small-12 medium-10 cell text-center">
      <h6 class="sans-regular dark-gray">{{entry.description}}</h6>
    </div>
  </div>

{% set entries = craft.entries.type('street') %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3">
  {% for entry in entries %}
    {% include "_includes/blocks/street" %}
  {% endfor %}
  </div>
</div>

</div>

{% endblock %}