{% extends "_layouts/site" %}

{% set title = "Your Visit" %}

{% block head_map %}
<!-- Mapbox -->
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block main %}

<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell text-center">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>

{% include "_includes/site/your-visit/menu" %}

  <div class="grid-x grid-padding-x align-center">
    <div class="small-12 medium-10 cell text-center">
      {{ entry.description }}
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y align-center" data-equalizer>

    <!-- Details -->
    <div class="small-12 medium-6 cell" data-equalizer-watch>

      <div class="grid-x">
        {% for matrixBlock in entry.details %}
        <div class="small-12 cell padding-bottom-1">
          <h4>{{ matrixBlock.header }}</h4>
          {{ matrixBlock.text | markdown }}
        </div>
        {% endfor %}
      </div>

    </div>
    <!-- End Details -->

    <!-- Map -->
    <div class="small-12 medium-6 cell" data-equalizer-watch>
        <div id="map" style="width: 100%; height: 100%;"></div>
    </div>
    <!-- End Map -->

  </div>


</div>

{% js %}
{% include "_includes/scripts/map--your-visit" %}
{% endjs %}

{% endblock %}