{% extends "_layouts/site" %}

{% set title = "Your Visit" %}

{% block head_map %}
<!-- Mapbox -->
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block main %}

<div class="grid-container">

<!-- Title -->
  <div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
    <div class="small-12 cell text-center">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>
<!-- End Title -->

{% include "_includes/site/your-visit/menu" %}

<!-- Description -->
  <div class="grid-x grid-padding-x align-center" data-aos="fade-in">
    <div class="small-12 medium-10 cell text-center">
      <h6 class="sans-regular dark-gray">{{entry.description}}</h6>
    </div>
  </div>
<!-- End Description -->

  <div class="grid-x grid-padding-x grid-padding-y align-center" data-equalizer data-equalize-on-stack="true">

    <!-- Details -->
    <div class="small-12 medium-6 cell" data-equalizer-watch>

      <div class="grid-x">
        {% for matrixBlock in entry.details %}
        <div class="small-12 cell padding-bottom-1" data-aos="fade-in">
          <h4>{{ matrixBlock.header }}</h4>
          {{ matrixBlock.text | markdown }}
        </div>
        {% endfor %}
      </div>

    </div>
    <!-- End Details -->

    <!-- Map -->
    <div class="small-12 medium-6 cell" data-equalizer-watch>
        <div id="map" style="width: 100%; height: 100%;"></div>
    </div>
    <!-- End Map -->

  </div>

</div>

{% js %}
{% include "_includes/scripts/map--your-visit" %}
{% endjs %}

{% endblock %}