<div class="small-12 medium-6 cell">
  <div class="excerpt">
  
    <!-- Tags -->
    <div class="tags">
      {% include "_includes/blocks/tags" %}
    </div>
    <!-- End Tags -->
    
    <!-- Image and Text -->
    <a {% if entry.noLink %}href="#" onclick="return false;"{% else %}href="{{ entry.url}}"{% endif %}>
    
      {% set image = entry.image.one() %}
      <div class="image--square" {% if image %}data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-4" %}"{% endif %}>
        <div class="grid-y height-100 align-right align-bottom content">

        {% set videoBlock = entry.article.type('video').one() %}
        {% if videoBlock %}
            <div class="shrink cell text-center text-lowercase padding-2">
              <h3 class="white"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></h3>
            </div>
        {% endif %}

        </div>
      </div>
    
      <div class="margin-top-1">
      <h4>{{ entry.title}}</h4>
      {% if entry.noLink %}
      <p>{{ entry.description |striptags }}</p>
      {% else %}
      <p>{{ entry.description |striptags|slice(0,100)|default('Read more') }}...</p>
      {% endif %}

      {% if not entry.noLink %}
      <div class="read-more">Read More <svg class="icon icon-plus"><use xlink:href="/assets/icons/symbol-defs.svg#icon-plus"></use></svg></div>
      {% endif %}
      </div>
    
    </a>
    <!-- End Image and Text -->
  
  </div>
</div>