<div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">
  <div class="small-12 medium-12 cell">
    <ul class="vertical medium-horizontal menu text-center medium-text-left align-center">

      <li class="padding-horizontal-1">
        <a href="/events">
          <h4>Now</h4>
        </a>
      </li>

      <li class="padding-horizontal-1">
        <a href="/events/this-month">
          <h4>This Month</h4>
        </a>
      </li>

      <li class="padding-horizontal-1">
        <a href="/events/next-month">
          <h4>Next Month</h4>
        </a>
      </li>

      <li class="padding-horizontal-1">
        <a href="/events/archive">
          <h4>Archive</h4>
        </a>
      </li>

    </ul>
  </div>
</div>
