<div class="cell">
<a href="{{ entry.url}}">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">

      <div class="image--square">
        <div class="grid-y height-100 align-top content">
          <div class="shrink cell">
            <button class="button tiny sans-bold text-uppercase" href="">Tag One</button>
            <button class="button tiny sans-bold text-uppercase" href="">Tag Two</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</a>


  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 cell">
      <a href="{{ entry.url}}">
        <h4>{{ entry.title}}</h4>
        <p>{{ entry.location.parts.number }} {{ entry.location.parts.address }} {{ entry.location.parts.postcode }}</p>
        <div class="small sans-bold text-uppercase letter-spacing--loose black">Read More +</div>
      </a>
    </div>
  </div>

</div>