<div class="cell">
    
    <!-- Image and Text -->
    <a href="https://www.instagram.com/p/{{ entry.shortcode }}/" target="_blank">
      <div class="image--square" {% if image %}data-interchange="[{{ entry.src }}, small], [{{ entry.src }}, medium], [{{ entry.src }}, large]"{% endif %}>
        <div class="content"></div>
      </div> 
    </a>
    <!-- End Image and Text -->
  
</div>