<div class="scrollarrow text-center white padding-2">
  <a data-scroll href="#page__content">
<div class="read-more padding-bottom-1">Scroll</div>
<svg class="icon icon-arrow-down"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-down"></use></svg></a>
</div>