<div class="cell" data-aos="fade-in">
  <div class="excerpt">
  
    <!-- Image and Text -->
    <a href="{{ entry.url}}" class="">
    
      {% set image = entry.thumb.one() %}
      <div class="image--square" {% if image %}data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-4" %}"{% endif %}>
        <div class="content"></div>
      </div>
    
      <div class="margin-top-1">
      <h4>{{ entry.title}}</h4>
      <div class="read-more">Learn More <svg class="icon icon-plus"><use xlink:href="/assets/icons/symbol-defs.svg#icon-plus"></use></svg></div>
      </div>
    
    </a>
    <!-- End Image and Text -->
  
  </div>
</div>