<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center show-for-large">
      
      <div class="cell medium-auto">
        <ul class="vertical menu text-center">
          <li><a href="/explore" class="small sans-bold text-uppercase letter-spacing--loose">Explore</a></li>
            {% nav category in craft.categories.group('explore') %}
              <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose">{{ category.title }}</a></li>
            {% endnav %}
        </ul>
      </div>
      
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li><a href="/events" class="small sans-bold text-uppercase letter-spacing--loose">Events</a></li>
          <li><a href="/events/this-month" class="small sans-bold text-uppercase letter-spacing--loose">This Month</a></li>
          <li><a href="/events/next-month" class="small sans-bold text-uppercase letter-spacing--loose">Next Month</a></li>
          <li><a href="/events/after-that" class="small sans-bold text-uppercase letter-spacing--loose">After That</a></li>
        </ul>
      </div>
      
  
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li><a href="/articles" class="small sans-bold text-uppercase letter-spacing--loose">Articles</a></li>
            {% nav category in craft.categories.group('articles') %}
              <li><a href="{{ category.url }}" class="small sans-bold text-uppercase letter-spacing--loose">{{ category.title }}</a></li>
            {% endnav %}
        </ul>
      </div>
  
      
      <div class="cell large-auto">
        <ul class="vertical menu text-center">
          <li><a href="/your-visit" class="small sans-bold text-uppercase letter-spacing--loose">Your Visit</a></li>
          <li><a href="/your-visit/heritage" class="small sans-bold text-uppercase letter-spacing--loose">Heritage</a></li>
          <li><a href="/your-visit/by-appointment" class="small sans-bold text-uppercase letter-spacing--loose">By Appointment</a></li>
          <li><a href="/your-visit/contact" class="small sans-bold text-uppercase letter-spacing--loose">Contact</a></li>
        </ul>
      </div>
      
  </div>
</div>