<div class="grid-x grid-padding-x grid-padding-y padding-top-3">
  <div class="small-12 cell text-center">
    <div class="section-header--white">Quick Search</div>
  </div>
</div>


<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <ul class="vertical menu">
        {% nav category in craft.categories.group('explore') %}
          {% set entryCount = craft.entries.relatedTo(category).count() %}
          <li class="footer_search_link">
            <a href="{{ category.url }}" class="h2">
            {{ category.title }}
            </a>
          </li>
        {% endnav %}
      </ul>
    </div>
  </div>
</div>