<div class="grid-x grid-padding-x grid-padding-y padding-vertical-3">
  <div class="small-12 cell text-center">
    <h6 class="text-uppercase font-wide">Quick Search</h6>
  </div>
</div>

<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-6 cell">
    <h1>Shops</h1>
    <h1>Hotels</h1>
    <h1>Restaurants and Bars</h1>
    <h1>Galleries and Culture</h1>
  </div>
</div>
</div>