<div class="grid-x grid-padding-x grid-padding-y padding-top-3">
  <div class="small-12 cell text-center">
    <div class="small serif-bold text-uppercase letter-spacing--loose">Quick Search</div>
  </div>
</div>


<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-8 large-8 cell">
      <ul class="vertical menu">
        {% nav category in craft.categories.group('explore') %}
          {% set entryCount = craft.entries.relatedTo(category).count() %}
          <li class="footer_search_link">
            <a href="{{ category.url }}">
              <div class="grid-x grid-padding-x grid-padding-y align-justify">
                <div class="shrink cell h2">
                  {{ category.title }}
                </div>
                <div class="shrink cell align-self-bottom h6 sans-regular">
                  {{ entryCount }}
                </div>
              </div>
            </a>
          </li>
        {% endnav %}
      </ul>
    </div>
  </div>
</div>