<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell">

    <div class="grid-x grid-padding-x align-center">
      <div class="small-12 medium-7 large-5 cell text-center">
      <h4 class="white">Stay up-to-date</h4>
      Discover our exclusive events, news, offers and competitions
      </div>
    </div>
    
    <div class="grid-container">
      <div class="grid-x grid-padding-x align-center">
        <div class="small-12 medium-8 large-7 cell padding-top-2">
          <form action="{{ newsletter.domain }}" method="post" target="_blank" data-abide novalidate>
           
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fi-alert"></i>There are some errors in your form.</p>
            </div> 
      
            <div class="grid-x grid-padding-x align-middle">
              <div class="small-8 cell">
                <input type="email" name="EMAIL" placeholder="Enter Email">
              </div>
              <div class="small-4 cell">
                <fieldset>
                  <input id="checkbox1" type="checkbox" value="1" name="group[18833][1]"><label for="checkbox1">Male</label>
                  <input id="checkbox2" type="checkbox" value="2" name="group[18833][2]"><label for="checkbox2">Female</label>
                </fieldset>
              </div>
            </div>

            <div class="grid-x grid-padding-x align-center">
              <div class="small-12 cell text-center">
                <input id="confirmation" type="checkbox" required><label for="confirmation">I confirm I am happy to register to the {{ siteName }} newsletter.</label>
              </div>
              <div class="small-12 cell text-center">
                <small>For information about our privacy practices, visit our <a href="/terms-and-conditions">terms and conditions</a> and <a href="/privacy-policy">privacy</a> pages.</small>
              </div>
            </div>

            <div class="grid-x grid-padding-x align-center">
              <div class="small-8 cell padding-top-2">
<button type="submit" class="button secondary expanded" value="Subscribe">
 <div class="grid-x align-justify align-middle">
<div class="shrink cell">
Subscribe
</div>
<div class="shrink cell">
<svg class="icon icon-arrow-right"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
</div>
 </div>
</button>

              </div>
            </div>
      
          </form>
        </div>
      </div>
    </div>
  


  </div>
</div>