<div class="primary-background-colour margin-top-3">
<!-- Search -->
{% include "_includes/global/footer/search" %}
<!-- End Search -->

<!-- Subscribe -->
{% include "_includes/global/footer/subscribe" %}
<!-- End Subscribe -->

<!-- Menu -->
{% include "_includes/global/footer/menu" %}
<!-- End Menu -->

<!-- Copyright -->
{% include "_includes/global/footer/copyright" %}
<!-- End Copyright -->
</div>