{% extends "_layouts/site" %}

{% block main %}



<div class="grid-container">
  <div class="grid-x grid-padding-x padding-vertical-3 align-center">
    <div class="small-12 medium-8 large-8 cell text-center">
      <h1 class="padding-bottom-2">{{category.title}}</h1>
      <ul class="menu align-center explore-categories">
        <li><a href="/articles" class="small sans-bold text-uppercase letter-spacing--loose ">All</a></li>
        {% nav menu in craft.categories.group('articles') %}
          <li class="{{ menu.slug == category.slug ? 'active' }}"><a href="{{ menu.url }}" class="small sans-bold text-uppercase letter-spacing--loose ">{{ menu.title }}</a></li>
        {% endnav %}
      </ul>
    </div>
  </div>
</div>

{% set entries = craft.entries.relatedTo(category).all() %}
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3">
  {% for entry in entries %}
    {% include "_includes/blocks/article" %}
  {% endfor %}
  </div>
</div>

{% endblock %}