<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y margin-top-2">
    <div class="small-12 cell text-center">
    <form action="{{ url('search/results') }}"><input type="search" name="q" placeholder="Search"> <button type="submit" class="button">Search</button></form>
    </div>
  </div>

</div>