{% set seoTitle = seo.seoTitle %}
{% set seoDescription = seo.seoDescription %}
{% set seoImage = seo.seoImage.one().filename %}

{%- minify -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js" dir="ltr">
<head>
{% block head %}
  {% include "_includes/site/head" %}
{% endblock %}
{% block head_map %}
{% endblock %}
</head>
  <body>
	{% block body %}{% endblock %}
	</body>
</html>
{%- endminify -%}