{% extends "_layouts/base" %}

{% block body %}

<!-- Navigation -->
{% include "_includes/site/navigation" %}
<!-- End Navigation -->

<main id="main" role="main">
{% block main %}{% endblock %}
</main>

{% endblock %}

{% block foot %}
<!-- Footer -->
{% include "_includes/site/footer" %}
<!-- End Footer -->
{% endblock %}