{% extends "_layouts/base" %}

{% block body %}

<!-- Navigation -->
{% include "_includes/site/navigation" %}
<!-- End Navigation -->

<main id="main" role="main">
{% block main %}{% endblock %}
</main>

<!-- Footer -->
<footer>
Footer
</footer>
<!-- End Footer -->

{% endblock %}

{% block foot %}

{% include "_includes/scripts/scripts" %}

{% endblock %}