{% extends "_layouts/base" %}

{% block body %}

<!-- Off Canvas Navigation -->
<div class="off-canvas position-top" id="offCanvasMenu" data-off-canvas data-transition="overlap" data-close-on-click="true" data-auto-focus="false">
{% include "_includes/off-canvas/menu" %}
</div>
<!-- End Off Canvas Navigation -->

<!-- Off Canvas Search -->
<div class="off-canvas position-top" id="offCanvasSearch" data-off-canvas data-transition="overlay" data-close-on-click="true" data-auto-focus="true">
{% include "_includes/off-canvas/search" %}
</div>
<!-- End Off Canvas Search -->

<div class="off-canvas-content" data-off-canvas-content>

<!-- Navigation Primary -->
{% include "_includes/site/navigation/primary" %}
<!-- End Navigation Primary -->

{% block main %}
{% endblock %}

<!-- Footer -->
{% include "_includes/site/footer" %}
<!-- End Footer -->
</div>

<!-- Newsletter -->
{% include "_includes/reveal/newsletter" %}
<!-- End Newsletter -->

{% include "_includes/site/analytics" %}
{% include "_includes/site/scripts" %}

{% endblock %}