@font-face {
  font-family: 'Canela Regular';
  src: 
  url('../fonts/canela-regular.woff2') format('woff2'), 
  url('../fonts/canela-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Bold';
  src: 
  url('../fonts/canela-bold.woff2') format('woff2'), 
  url('../fonts/canela-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue Book';
  src: 
  url('../fonts/maison-neue-book.woff2') format('woff2'), 
  url('../fonts/maison-neue-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison Neue Bold';
  src: 
  url('../fonts/maison-neue-bold.woff2') format('woff2'), 
  url('../fonts/maison-neue-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gallery';
  src: 
  url('../fonts/gallery.woff2') format('woff2'), 
  url('../fonts/gallery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}