@font-face {
  font-family: 'Canela Regular';
  src: 
  url('../fonts/canela-regular.woff2') format('woff2'), 
  url('../fonts/canela-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Bold';
  src: 
  url('../fonts/canela-bold.woff2') format('woff2'), 
  url('../fonts/canela-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}