.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
vertical-align: middle;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-socials {
  font-size: 1.5rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-logo {
  width: 2.150390625em;
  font-size: 20rem;
}

.icon-search {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.icon-payment {
 font-size: 2rem;
}