{% extends "_layouts/site" %}

{% block main %}

<!-- Hero -->
<section class="site__hero">
<div class="grid-x">
  <div class="small-12 cell text-center">

    {% set image = entry.image.first() %}
    <div class="image--hero align-center-middle" data-interchange="{% include "_includes/images/interchange-img-small-12-medium-12-cell" %}">

      <div class="grid-y grid-padding-x height-100 align-center content">
        <div class="shrink cell text-center white">
          <svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg>
          <h4 class="sans-regular white padding-vertical-1">The home of luxury shopping in London</h4>
        </div>
      </div>

    </div>

  </div>
</div>
</section>
<!-- End Hero -->

<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y margin-top-2">
    <div class="small-12 cell text-center">
      <div class="small serif-bold text-uppercase letter-spacing--loose black">Recent Articles</div>
    </div>
  </div>

{% for block in entry.articleMatrix.all() %}
{% switch block.type %}

  {% case "small" %}
  
  {% set entries = block.entries %}
  
  {% if entries|length %}
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-4">
      {% for entry in entries %}
        {% include "_includes/blocks/excerpt--article" %}
      {% endfor %}
    </div>
  {% endif %}

  {% case "medium" %}
  
  {% set entries = block.entries %}

  {% if entries|length %}
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3">
      {% for entry in entries %}
        {% include "_includes/blocks/excerpt--article" %}
      {% endfor %}
    </div>
  {% endif %}

  {% case "large" %}
  
  {% set entries = block.entries %}

  {% if entries|length %}
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-2">
      {% for entry in entries %}
        {% include "_includes/blocks/excerpt--article" %}
      {% endfor %}
    </div>
  {% endif %}

  {% case "featured" %}
  
  {% set entries = block.entries %}

  {% if entries|length %}
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-1 large-up-1">
      {% for entry in entries %}
        {% include "_includes/blocks/feature" %}
      {% endfor %}
    </div>
  {% endif %}

{% endswitch %}
{% endfor %}

<!-- Upcoming Events -->
{% set entries = craft.entries
.section('events')
.all() %}

{% if entries|length %}
<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y margin-top-2">
    <div class="small-12 cell text-center">
      <div class="small serif-bold text-uppercase letter-spacing--loose black">Upcoming Events</div>
    </div>
  </div>

  {% for entry in entries %}
    {% include "_includes/blocks/excerpt--event" %}
  {% endfor %}

</div>

{% endif %}
<!-- End Upcoming Events -->

</div>

{% endblock %}