{% extends "_layouts/site" %}

{% block main %}

<div class="grid-x">
  <div class="small-12 cell text-center">

    <div class="image--panorama align-center-middle" data-interchange="">
      <div class="grid-y height-100 align-center content">
        <div class="shrink cell text-center">
          <h1 class="white text-uppercase hero">Bond <br>Street</h1>
          <h4 class="sans-regular white">The home of luxury shopping in London</h4>
        </div>
      </div>
    </div>

  </div>
</div>

{# Recent Articles #}

{% set entries = craft.entries
.section('articles')
.all() %}

{% if entries|length %}

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 cell text-center">
    <h6 class="text-uppercase">Recent Articles</h5>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3">
    {% for entry in entries %}
      <div class="cell">
        <div class="image--square align-center-middle margin-bottom-1" data-interchange=""></div>
        <h4>{{ entry.title}}</h4>
        <p>{{ entry.articleBody |striptags|slice(0,100)|default('Read more') }}...</p>
        <div class="sans-bold clear button tiny text-uppercase">Read More</div>
      </div>
    {% endfor %}
  </div>
</div>

{% endif %}
{# Recent Articles #}

{% endblock %}