{% extends "_layouts/site" %}

{% block main %}

<div class="grid-x">
  <div class="small-12 cell text-center">

    <div class="image--panorama align-center-middle" data-interchange="">
      
      <div class="grid-y height-100 align-center content">
        <div class="shrink cell text-center">
          <h1 class="white text-uppercase hero">Bond Street</h1>
          <h4 class="sans-regular white">The home of luxury shopping in London</h4>
        </div>
      </div>
  
    </div>

  </div>
</div>

{# Recent Articles #}

{% set entries = craft.entries
.section('articles')
.all() %}

{% if entries|length %}

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 cell text-center">
    <h6 class="text-uppercase">Recent Articles</h5>
  </div>
</div>

{% for entry in entries %}
<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 cell text-center">
    <h3>{{ entry.title}}</h3>
  </div>
</div>
{% endfor %}

{% endif %}
{# Recent Articles #}

{% endblock %}