<div class="primary-background-colour">
<!-- Search -->
{% include "_includes/site/footer/search" %}
<!-- End Search -->

<!-- Subscribe -->
{% include "_includes/site/footer/subscribe" %}
<!-- End Subscribe -->

<!-- Menu -->
{% include "_includes/site/footer/menu" %}
<!-- End Menu -->

<!-- Copyright -->
{% include "_includes/site/footer/copyright" %}
<!-- End Copyright -->
</div>