{# Navigation #}
{% set navigation = {
  "/":    { title: "Home" },
  "explore":    { title: "Explore" },
  "events":    { title: "Events" },
  "articles":    { title: "Articles" },
  "your-visit":    { title: "Your Visit" },
} %}
{# End Navigation #}

<div class="grid-x grid-padding-x align-justify align-middle navigation"> 

    <div class="shrink cell">    
      <ul class="dropdown menu align-middle" data-dropdown-menu>
        {% for slug, item in navigation %}
    	  <li><a href="{{ url(slug) }}" class="clear button tiny margin-left-2 text-uppercase">{{ item.title }}</a></li>
    		{% endfor %}
      </ul>
    </div>
    
    <div class="shrink cell">    
      <ul class="menu align-center">
        <li><a href="" class="clear button tiny margin-left-2 text-uppercase">Search</a></li>
        <li><a href="" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
        <li><a href="" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
        <li><a href="" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      </ul>
    </div>

</div>


