{# Navigation #}
{% set navigation = {
  "/":    { title: "Home" },
  "explore":    { title: "Explore" },
  "events":    { title: "Events" },
  "articles":    { title: "Articles" },
  "your-visit":    { title: "Your Visit" },
} %}
{# End Navigation #}

{#
<div class="grid-x grid-padding-x align-justify align-middle hide-for-medium"> 

    <div class="shrink cell">    
      <a href="" target="_blank"><svg class="icon icon-menu"><use xlink:href="/assets/icons/symbol-defs.svg#icon-menu"></use></svg></a>
    </div>
    
    <div class="shrink cell">    
      <a href="" target="_blank"><svg class="icon icon-magnifier"><use xlink:href="/assets/icons/symbol-defs.svg#icon-magnifier"></use></svg></a>
    </div>

</div>

<div class="grid-x grid-padding-x align-justify align-middle navigation show-for-medium"> 

    <div class="shrink cell">    
      <ul class="dropdown menu align-middle" data-dropdown-menu>
      {% for slug, item in navigation %}
    	  <li><a href="{{ url(slug) }}" class="clear button tiny margin-left-2 text-uppercase">{{ item.title }}</a></li>
    		{% endfor %}
      </ul>
    </div>
    
    <div class="shrink cell">    
      <ul class="menu align-center">
        <li><a href="" class="clear button tiny text-uppercase">Search</a></li>
        <li><a href="" target="_blank" class="margin-right-2"><svg class="icon icon-magnifier"><use xlink:href="/assets/icons/symbol-defs.svg#icon-magnifier"></use></svg></a></li>
        <li><a href="" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
        <li><a href="" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
        <li><a href="" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
      </ul>
    </div>

</div>
#}

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      {% for slug, item in navigation %}
    	  <li><a href="{{ url(slug) }}">{{ item.title }}</a></li>
    		{% endfor %}
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
{#       <li><button type="button" class="button">Search</button></li> #}
      <li class="margin-right-2"><a href="" target="_blank"><svg class="icon icon-magnifier"><use xlink:href="/assets/icons/symbol-defs.svg#icon-magnifier"></use></svg></a></li>
      <li><a href="" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
      <li><a href="" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
      <li><a href="" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
    </ul>
  </div>
</div>