<div class="grid-x grid-padding-x grid-padding-y align-center primary-background-colour">
  <div class="small-12 cell">


<div class="grid-x grid-padding-x align-center">
  <div class="small-12 medium-7 large-5 cell text-center">
  <h3 class="white">Stay up-to-date</h3>
  Discover our exclusive events, news, offers and competitions
  </div>
</div>

<div class="grid-x grid-padding-x align-center">
  <div class="small-12 medium-7 large-5 cell padding-top-2">
    <form action="" method="post" target="_blank" data-abide novalidate>
     
      <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fi-alert"></i>There are some errors in your form.</p>
      </div> 

      <div class="input-group">
        <input class="input-group-field" type="email" name="EMAIL" placeholder="Subscribe to our newsletter">
        <div class="input-group-button">
        <input type="submit" class="button" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>

<div class="grid-x grid-padding-x align-center">
  <div class="small-12 cell text-center">
    <small>I confirm I am happy to register to the {{ siteName }} newsletter. For information about our privacy practices, visit our terms and conditions and privacy pages.</small>
  </div>
</div>

</div>
</div>