{% extends "_layouts/site" %}

{% block main %}

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 cell text-center">
    <h1>Events</h1>
  </div>
</div>

{% set entries = craft.entries
.section('events')
.all() %}

<div class="grid-container">
  {% for entry in entries %}
    {% include "_includes/blocks/excerpt--event" %}
  {% endfor %}
</div>

{% endblock %}