{% extends "_layouts/site" %}

{% block main %}

<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 medium-12 cell text-center">
    <ul class="menu align-center">
      <li><a href="" class="h3">All</a></li>
      <li><a href="" class="h3">This Month</a></li>
      <li><a href="" class="h3">Next Month</a></li>
      <li><a href="" class="h3">After That</a></li>
    </ul>
  </div>
</div>



{% set entries = craft.entries
.section('events')
.all() %}

<div class="grid-container">
  {% for entry in entries %}
    {% include "_includes/blocks/excerpt--event" %}
  {% endfor %}
</div>

{% endblock %}