{% extends "_layouts/site" %}

{% block main %}

{% include "_includes/blocks/events--types" %}

{% set entries = craft.entries.section('events')
    .order('eventStart')
    .all() %}


<div class="grid-container">
  {% for entry in entries %}
    {% include "_includes/blocks/event" %}
  {% endfor %}
</div>

{% endblock %}