{% extends "_layouts/site" %}

{% set title = "Events" %}
{% set description = "Upcoming events on Bond Street" %}

{% block main %}

{% include "_includes/blocks/events--types" %}

{% set start = now|atom %}

{% set entries = craft.entries.section('events')
.eventStart (">= #{start}")
.order('eventStart asc')
%}

<div class="grid-container">
  {% for entry in entries %}
    {% include "_includes/blocks/event" %}
  {% endfor %}
</div>

{% endblock %}