{% extends "_layouts/site" %}

{% set title = "Events" %}
{% set description = "Upcoming events on Bond Street" %}

{% block main %}

{% include "_includes/blocks/events--types" %}

{% set start = now|atom %}


{% set myEntryQuery = craft.entries
.section('events')
.eventEnd (">= #{start}")
.orderBy('eventStart asc')
%}

{# Fetch the entries #}
{% set entries = myEntryQuery.all() %}


<div class="grid-container">
  {% for entry in entries %}
    {% include "_includes/blocks/event" %}
  {% endfor %}
</div>

{% endblock %}