{% extends "_layouts/site" %}

{% block main %}
{# Events #}
{% set entries = craft.entries
.section('events')
.all() %}

{% if entries|length %}
<div class="grid-container">
  {% for entry in entries %}
    {% include "_includes/blocks/excerpt--event" %}
  {% endfor %}
</div>
{% endif %}
{# End Events #}
{% endblock %}