{% extends "_layouts/site" %}

{% block main %}

{% include "_includes/blocks/events--types" %}

{% set thisMonthsEvents = craft.entries.section('events')
.eventStart (['and',  ">= #{now | date_modify('first day of this month') | atom}", "<= #{now | date_modify('last day of this month') | atom}"])
%}

<div class="grid-container">
  {% for entry in thisMonthsEvents %}
    {% include "_includes/blocks/event" %}
  {% endfor %}
</div>

{% endblock %}