<div class="grid-x grid-padding-x grid-padding-y align-justify show-for-small-only">
  <div class="shrink cell">
  Menu
  </div>
  <div class="shrink cell">
    <a href="" target="_blank"><svg class="icon icon-magnifier"><use xlink:href="/assets/icons/symbol-defs.svg#icon-magnifier"></use></svg></a>
  </div>
</div>

