{% extends "_layouts/site" %}

{% block main %}

<div class="grid-x grid-padding-x grid-padding-y margin-top-2">
  <div class="small-12 cell text-center">
    <h1>Explore</h1>
  </div>
</div>

{% set entries = craft.entries
.section('explore')
.all() %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3">
  {% for entry in entries %}
    {% include "_includes/blocks/excerpt--explore" %}
  {% endfor %}
  </div>
</div>

{% endblock %}